/* START: Task 1 Styles */
table {
    border-width:1px;
    border-spacing: 3px;
}
td {
    background-color: green;
}

.greeny {
    background-color: #98FB98;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}


/* END: Task 1 Styles */


/* START: Task 2 Styles */


/* END: Task 2 Styles */


/* START: Task 3 Styles */

.ball {
    position: absolute;
    top: 155px;
    left: 290px;
    width: 40px;
    height: 40px;
}

.court {
    width: 600px;
    height: 330px;
}

p {
    text-indent: 300px;
    text-align: justify;
}


/* END: Task 3 Styles */