header {
  background-image: url(".../img/m-h-night.jpg");
  background-position: center;
  margin: 100px;
  width: 100%;
  height: 800px;
  padding-top: 1px; }

.header_heading {
  font-weight: bold;
  margin-left: 200px;
  font-size: 50px;
  width: 500px;
  position: relative;
  z-index: 2; }

.landing-logo .section_card {
  padding: 0;
  margin: 0;
  margin-left: 200px;
  padding-top: 200px;
  display: inline; }

.landing-logo p {
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap; }

.landing-logo p span::before {
  content: "\A";
  white-space: pre; }

.landing-logo p span {
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 10px;
  flex: 0 0 auto;
  width: 100%; }

.header_text {
  margin-left: 200px;
  width: 520px; }

.header_button {
  margin-top: 30px;
  margin-left: 200px;
  background-color: green;
  color: white; }

nav .login {
  margin-top: 30px;
  margin-left: 200px;
  color: white;
  text-decoration: underline; }

.section_text {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px; }

.section_card {
  margin-top: 30px;
  margin-left: 300px;
  background-position: center;
  background-color: black;
  display: inline;
  width: 900px;
  text-align: center;
  padding: 10px; }

.section_card_right_container .section_card_heading {
  text-align: center;
  color: white;
  font-size: 16px; }

.section_card_right_container .section_card_text {
  text-align: justify;
  color: white;
  padding: 60px; }

nav .section_card_right_container .section_link {
  color: white; }

.section_banner {
  background: linear-gradient(to right, orange, red);
  margin-top: 30px;
  display: inline;
  width: 1100px;
  text-align: center;
  position: absolute;
  left: 200px;
  z-index: 1; }

.section_banner .section_banner_button {
  background-color: green;
  color: white;
  position: absolute;
  right: 120px;
  top: 20px;
  height: 40px;
  width: 100px; }

.section_card_wrap {
  margin-top: 30px; }

.section_banner_text_wrap {
  margin-left: 120px; }

.section_banner_text_wrap .section_banner_heading {
  font-weight: bold;
  font-size: 16px; }

.section_banner_text_wrap .section_banner_text {
  color: white; }

footer {
  margin-top: 70px;
  background-color: black;
  background-position: center;
  margin: 100px;
  width: 100%;
  height: 100px;
  position: relative; }

footer .footer_wrap, footer .footer_logo .landing-logo, footer .footer_text, footer footer-cr {
  color: white; }

footer .footer_logo .landing-logo {
  padding-top: 50px; }

footer .footer_text {
  text-align: center; }
