@media (min-width:1280px) {
	body {
		min-width: 1280px;
		max-width: 1280px;
		margin: 0px auto;
		font-family: "Open Sans";
		color: #484848;
	}
	header {
		background-color: #99ccff;
		color: white;
		height: 70px;
	}
	header p {
		padding-bottom: 30px;
		font-size: 30px;
	}
	header p span {
		color: #484848;
	}
	header:hover {
		background-color: #162b4d;
	}
	nav {
		list-style: none;
		float: right;
		color: white;
		text-align: center;
		font-size: 20px;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: white;
		padding-bottom: 30px;
	}
	.table_header {
		margin-left: 90px;
		width: 1050px;
	}
	.section1 {
		background: url("../img/section1.jpg");
		height: 474px;
		padding-left: 20px;
	}
	.section1 p {
		color: white;
	}
	h1 {
		color: white;
		padding-top: 200px;
		padding-left: 20px;
	}
	.image1 {
		float: left;
		max-width: 390px;
		height: 290px;
	}
	.image2 {
		float: right;
		max-width: 390px;
		height: 290px;
	}
	.image3 {
		float: left;
		max-width: 390px;
		height: 290px;
	}
	.image4 {
		float: right;
		max-width: 390px;
		height: 290px;
	}
	.post_1 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #F3D250;
		;
	}
	.post_2 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #8D8741;
		text-align: right;
	}
	.post_3 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #659DBD;
	}
	.post_4 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #DAAD86;
		text-align: right;
	}
	.news1 {
		width: 380px;
		height: 250px;
	}
	.news2 {
		width: 380px;
		height: 250px;
	}
	.right_text1 {
		display: block;
		margin-top: 20px;
		margin-right: 20px;
		width: 380px;
		height: 600px;
		border: 4px double gray;
	}
	.right_text2 {
		display: block;
		margin-top: 20px;
		margin-right: 20px;
		width: 380px;
		height: 600px;
		border: 4px double gray;
	}
	.right_text2_2 {
		padding-left: 20px;
	}
	.right_text2_1 {
		padding-left: 20px;
	}
	.table_first {
		margin: auto;
	}
	footer {
		display: block;
		margin: 0 0 0 auto;
		background-color: #162b4d;
		height: 100px;
		color: white;
	}
	.table_footer {
		margin-left: 50px;
		width: 1180px;
	}
	.the_date {
		font-size: 20px;
	}
	.right_text2_1 .button1,
	.right_text2_2 .button2,
	.post1,
	.post2,
	.post3,
	.post4:hover {
		cursor: pointer;
	}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	body {
		min-width: 768px;
		max-width: 1279px;
		margin: 0px auto;
		font-family: "Open Sans";
		color: #484848;
	}
	header {
		background-color: #99ccff;
		color: white;
		height: 70px;
	}
	header p {
		padding-bottom: 30px;
		font-size: 30px;
		text-align: center;
	}
	header p span {
		color: #484848;
	}
	header:hover {
		background-color: #162b4d;
	}
	nav {
		display: none;
	}
	.menu_mobile {
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
	}
	.table_header {
		margin-left: 90px;
		width: 1050px;
	}
	.section1 {
		background: url("../img/section1.jpg");
		height: 474px;
		padding-left: 20px;
	}
	.section1 p {
		color: white;
	}
	h1 {
		color: white;
		padding-top: 200px;
		padding-left: 20px;
	}
	.image1 {
		float: left;
		max-width: 390px;
		height: 290px;
	}
	.image2 {
		float: right;
		max-width: 390px;
		height: 290px;
	}
	.image3 {
		float: left;
		max-width: 390px;
		height: 290px;
	}
	.image4 {
		float: right;
		max-width: 390px;
		height: 290px;
	}
	.post_1 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #F3D250;
		;
	}
	.post_2 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #8D8741;
		text-align: right;
	}
	.post_3 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #659DBD;
	}
	.post_4 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #DAAD86;
		text-align: right;
	}
	.news1 {
		width: 380px;
		height: 250px;
	}
	.news2 {
		width: 380px;
		height: 250px;
	}
	.right_text1 {
		display: block;
		margin-top: 20px;
		margin-right: 20px;
		width: 380px;
		height: 600px;
		border: 4px double gray;
	}
	.right_text2 {
		display: block;
		margin-top: 20px;
		margin-right: 20px;
		width: 380px;
		height: 600px;
		border: 4px double gray;
	}
	.right_text2_2 {
		padding-left: 20px;
	}
	.right_text2_1 {
		padding-left: 20px;
	}
	.table_first {
		margin: auto;
	}
	footer {
		display: block;
		margin: 0 0 0 auto;
		background-color: #162b4d;
		height: 100px;
		color: white;
	}
	.table_footer {
		margin-left: 50px;
		width: 1180px;
	}
	.the_date {
		font-size: 20px;
	}
	.right_text2_1 .button1,
	.right_text2_2 .button2,
	.post1,
	.post2,
	.post3,
	.post4:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 767px) {
	body {
		min-width: 768px;
		max-width: 1279px;
		margin: 0px auto;
		font-family: "Open Sans";
		color: #484848;
	}
	header {
		background-color: #99ccff;
		color: white;
		height: 70px;
	}
	header p {
		padding-bottom: 30px;
		font-size: 30px;
		text-align: center;
	}
	header p span {
		color: #484848;
	}
	header:hover {
		background-color: #162b4d;
	}
	nav {
		display: none;
	}
	.menu_mobile {
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
	}
	.table_header {
		margin-left: 90px;
		width: 1050px;
	}
	.section1 {
		background: url("../img/section1.jpg");
		height: 474px;
		padding-left: 20px;
	}
	.section1 p {
		color: white;
	}
	h1 {
		color: white;
		padding-top: 200px;
		padding-left: 20px;
	}
	.image1 {
		float: left;
		max-width: 390px;
		height: 290px;
	}
	.image2 {
		float: right;
		max-width: 390px;
		height: 290px;
	}
	.image3 {
		float: left;
		max-width: 390px;
		height: 290px;
	}
	.image4 {
		float: right;
		max-width: 390px;
		height: 290px;
	}
	.post_1 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #F3D250;
		;
	}
	.post_2 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #8D8741;
		text-align: right;
	}
	.post_3 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #659DBD;
	}
	.post_4 {
		display: block;
		margin-top: 20px;
		margin-right: 60px;
		width: 780px;
		height: 290px;
		background-color: #DAAD86;
		text-align: right;
	}
	.news1 {
		width: 380px;
		height: 250px;
	}
	.news2 {
		width: 380px;
		height: 250px;
	}
	.right_text1 {
		display: block;
		margin-top: 20px;
		margin-right: 20px;
		width: 380px;
		height: 600px;
		border: 4px double gray;
	}
	.right_text2 {
		display: block;
		margin-top: 20px;
		margin-right: 20px;
		width: 380px;
		height: 600px;
		border: 4px double gray;
	}
	.right_text2_2 {
		padding-left: 20px;
	}
	.right_text2_1 {
		padding-left: 20px;
	}
	.table_first {
		margin: auto;
	}
	footer {
		display: block;
		margin: 0 0 0 auto;
		background-color: #162b4d;
		height: 100px;
		color: white;
	}
	.table_footer {
		margin-left: 50px;
		width: 1180px;
	}
	.the_date {
		font-size: 20px;
	}
	.right_text2_1 .button1,
	.right_text2_2 .button2,
	.post1,
	.post2,
	.post3,
	.post4:hover {
		cursor: pointer;
	}
}