body {
   background:linear-gradient(white, #f0f0f0, silver);
   height:425px;
   padding:0px;
   width:310px;
}
button{
    margin-left:17px;
    border:1px solid silver;
    width:70px;
    height:50px;
    background-color:white;
    border-radius:5px;   
    margin-top:5px;
}
div{
    border:3px solid lightblue;
    width:140px;
    height:150px;
    background-color:#fafafa;
    justify-content:center; 
    align-items:center;
    margin-bottom:0px;
    margin:4px;
}
p{
    text-align:center;    
}
span{
    text-align:center ;
    margin-left:4px;
}
#result{
   margin-top:10px; 
   font-size:30px;
   color:#ff6151;
}
hr{
    color:lightblue;
    border:0.4px solid lightblue;
}
h6{
font-size:20px;
margin:1px;
}
.name1{
	float:left;
}

.name2{
	float:right;
}