﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}


/* Your code goes here */

header {
  background-image: url('assets\img\header-bg.jpg');
}

.card {
  display: inline-flex;
}

.bty {
  height: auto;
  position: relative;
  width: 50%;
}

.imagessort {
  display: flex;
}

.group {
  position: relative;
  margin-bottom: 30px;
}

input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}

input:focus {
  outline: none;
}

form {
  text-decoration-color: white;
  background-color: black;
}

footer {
  background-image: url('assets\img\footer-bg.png');
}

.card-img-top1 .card-img-top2 .card-img-top4 .card-img-top5 {
  width: 450px;
  height: 450px;
}

.card-img-top3 .card-img-top6 {
  width: 450px;
  height: 965px;
}