// Write your styles here

@mixin font_text {
margin: 100px;
width: 100%;
}
$map: ("small": 12px, "normal": 16px, "pre-large": 20px, "large": 50px);

header {
    background-image: url($url_variable1);
    background-position: center;
    @include font_text;
    height: 800px;
    padding-top: 1px;
}

.header_heading {
    font-weight: bold;
    margin-left: 200px;
    font-size: map-get($map, "large");
    width: 500px;
    position: relative;
    z-index: 2;
}

.landing-logo 	.section_card {
    padding: 0;
    margin: 0;
    margin-left: 200px;
    padding-top: 200px;
    display: inline;
}

.landing-logo p {
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.landing-logo p span::before {
    content: "\A";
    white-space: pre;
}

.landing-logo p span {
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 10px;
    flex: 0 0 auto;
    width: 100%;
}

.header_text {
    margin-left: 200px;
    width: 520px;
}


    .header_button {
        margin-top: 30px;
        margin-left: 200px;
        background-color: $header_button_back_color1;
        color: white;
    }

    nav {
        .login {
            margin-top: 30px;
            margin-left: 200px;
            color: $loginColor1;
            text-decoration: underline;
        }
    }

    .section_text {
        color: $section_text_color;
        text-align: center;
        font-weight: bold;
        font-size: map-get($map, "pre-large");
    }

    .section_card {
        margin-top: 30px;
        margin-left: 300px;
        background-position: center;
        background-color: $section_card_color1;
        display: inline;
        width: 900px;
        text-align: center;
        padding: 10px;
    }

    .section_card_right_container .section_card_heading {
        text-align: center;
        color: $section_card_heading_color1;
        font-size: map-get($map, "normal");
    }

    .section_card_right_container .section_card_text {
        text-align: justify;
        color: $section_card_text_color1;
        padding: 60px;
    }

    nav {
        .section_card_right_container .section_link {
            color: $section_link_color1;
        }
    }

.section_banner {
    background: $section_banner_color_gradient;
    margin-top: 30px;
    display: inline;
    width: 1100px;
    text-align: center;
    position: absolute;
    left: 200px;
    z-index: 1;
}

.section_banner .section_banner_button {
    background-color: $section_banner_button_back_color1;
    color: $section_banner_button_color1;
    position: absolute;
    right: 120px;
    top: 20px;
    height: 40px;
    width: 100px;
}

    .section_card_wrap {
        margin-top: 30px;
    }

    .section_banner_text_wrap {
        margin-left: 120px;
    }
 
    .section_banner_text_wrap .section_banner_heading {
        font-weight: bold;
        font-size: 16px;
    }

    .section_banner_text_wrap .section_banner_text {
        color: white;
    }

footer {
    margin-top: 70px;
    background-color: black;
    background-position: center;
    @include font_text;
    height: 100px;
    position: relative;
}

    footer .footer_wrap {
        color: $footer_wrap_color;
    }

    footer .footer_logo .landing-logo {
        padding-top: 50px;
        @extend .footer_wrap;
    }

    footer .footer_text {
        text-align: center;
        @extend .footer_wrap;
    }

    footer-cr {
        @extend .footer_wrap;
    }
