$url_variable1: ".../img/m-h-night.jpg";
$header_color: white;
$text_font_color_1: red;
$loginColor1: white;
$section_text_color: white;
$header_button_back_color1: green;
$header_button_color1: white;
$section_card_color1: black;
$section_card_heading_color1: white;
$section_banner_button_back_color1: green;
$section_banner_button_color1: white;
$section_card_text_color1: white;
$section_link_color1: white;
$section_banner_text: white;
$footer_wrap_color: white;
$section_banner_color_gradient: linear-gradient(to right, orange, red);