/*write your code here */
.tm-bg-color-primary {
background: #76cdd8;
}
.tm-col-md-reverse {
flex-direction: row-reverse;
}
.tm-section:nth-child(2n) .p-5:hover  {
color: #76cdd8;
}
.tm-quote:hover  {
color: #76cdd8;
}
.tm-text-color-primary{
color: #76cdd8;
}
.tm-section:nth-child(2n) .p-5:hover ::before {
Position:absolute ;
width:0;
height:0;
left:0;
top:0;
border-right:60px solid transparent;
border-top:60px solid #76cdd8;
}
.tm-section:nth-child(2n-1) .p-5:hover ::before {
Position:absolute ;
width:0;
height:0;
right:0;
top:0;
border-right:60px solid #76cdd8;
border-bottom:60px solid transparent;
}
.tm-pricing-table:hover .tm-pricing-discount{
display: block;
}
.tm-pricing-discount__star {
color: red;
}
.btn-primary:hover {
background-color: rgb(118, 205, 216);
}
.img-fluid:hover {
transform: scale(1.1);
}
.img-fluid:hover {
transform: scale(1.1);
}
.tm-container-inner {
border-color: #24d4d4; 
box-shadow: 0 0 0 0.2rem #24d4d4; 
background-color: rgb(118, 205, 216);
}