body {
	max-width: 1140px;
	min-width: 900px;
	margin: 0px auto;
	font-family: "Open Sans";
}

.header-wrap {
	background-color: #030039;
	background-image: url('../img/header-bg.png'), url('../img/space-bg');
	background-position: top;
	height: 471px;
}

.landing-link a {
	display: inline-block;
	margin-left: 90px;
	margin-top: 30px;
	border: 1px solid white;
	font-size: 14px;
	color: white;
	text-decoration: none;
}

h1 {
	margin-left: 90px;
	margin-top: 60px;
	color: white;
	font-size: 30px;
}

.header_text {
	margin-left: 90px;
	margin-top: 30px;
	font-size: 16px;
	color: white;
}

.header_text_next {
	margin-left: 90px;
	margin-top: 30px;
	font-size: 12px;
	color: white;
}

.header_text_input {
	margin-left: 90px;
	margin-top: 30px;
	color: white;
}

.header_button {
	margin-left: 10px;
	margin-top: 30px;
	background-color: orange;
}

main {
	background-color: #fefaf3;
}

.title1 {
	font-size: 14px;
	text-align: center;
}

.title2 {
	margin-left: 245px;
	font-size: 12px;
	text-align: center;
	width: 650px;
}

.page_title h2 {
	font-size: 20px;
	text-align: center;
}

.section__img_planet1 {
	float: left;
	width: 450px;
	height: 320px;
	margin-right: 30px;
}

.first_photo_text {
	margin-top: 10px;
	margin-right: 60px;
	text-align: left;
}

hr {
	border: none;
	background-color: orange;
	height: 5px;
	width: 60px;
}

.line2 {
	margin: 0 0 0 auto;
	float: left;
}

.image_block {
	display: block;
}

.section__img_planet2 {
	width: 400px;
	height: 300px;
}

.section__img_planet3 {
	width: 400px;
	height: 300px;
}

.first_photo {
	display: inline-block;
}

.second_photo_text {
	width: 400px;
	text-align: center;
}

.third_photo_text {
	width: 400px;
	text-align: center;
}

.text_down {
	background-color: #030039;
	background-image: url('../img/space-bg');
	color: white;
	height: 300px;
}

.title_down1 {
	font-size: 14px;
	text-align: center;
}

.title_down3 {
	font-size: 12px;
	text-align: center;
}

.title_down2 {
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}

footer {
	margin: 0 0 0 auto;
	background-image: url('../img/footer-bg.jpeg');
	height: 300px;
}

.footer_text_main {
	margin-left: 90px;
	font-size: 30px;
	color: white;
}

.footer_text {
	margin-left: 90px;
	font-size: 16px;
	color: white;
}

.footer_logo {
	float: right;
}

table {
	display: block;
	margin: 0 auto 0 auto;
	text-align: center;
	width: 900px;
}

.table_first {
	display: block;
	margin: 0 auto 0 auto;
	text-align: center;
	width: 900px;
}